@page "/tags"
@using Application.Tags.Queries.GetTagList
<h3>TagReference</h3>

<DataGrid TItem="TagVm"
          Data="@_tagsEnumerable"
          TotalItems="@_totalTags"
          PageSize="10"
          ShowPager
          Responsive
          Filterable
          Editable
          NewItemCreator="CreateTag"
          EditItemCreator="UpdateTag"
          RowRemoved="DeleteTag">
    <DataGridColumn Field="@nameof(TagVm.Name)" Caption="Наименование" Sortable="true" Editable />
    <DataGridCommandColumn />
</DataGrid>