<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="WebUI.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="bootstrap5/js/bootstrap.min.js"></script>

<!-- Blazorise -->
<script src="_content/Blazorise/breakpoint.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/button.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/closable.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/colorPicker.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/datePicker.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/dragDrop.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/dropdown.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/fileEdit.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/filePicker.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/inputMask.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/io.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/memoEdit.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/numericPicker.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/observer.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/table.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/textEdit.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/theme.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/timePicker.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/tooltip.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise/utilities.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise.Bootstrap5/modal.js?v=1.4.2.0" type="module"></script>
<script src="_content/Blazorise.Bootstrap5/tooltip.js?v=1.4.2.0" type="module"></script>

</body>

</html>